
.headline{text-align:center;}
.headline img{display:block;margin:0 auto 20px}
		img{
			max-width: 100%;
		}
		

.panel-heading{
	background-color: #fe9126;
	color: white;
	font-size: 17px;
}
.checkoutproduct{
	border-bottom: 1px solid transparent;
	border-color: #ddd;
}
.timings{
	padding: 3.5px 0px 3.5px 0px;
}
.error{
    color: red;
    font-size: 12px;
  }