
<div class="headline">
  <h2>CHECKOUT</h2>                        
  </div>
  
  

  <div id="wrap" class="chotibody">
    <div id="grid">
      <div class="column column1">
      <!-- <div class="step" id="step1">
        <div class="number">
          <span>1</span>
        </div>
        <div class="title">
          <h1>Email Address</h1>
        </div>
        <div class="modify">
          <i class="fa fa-plus-circle"></i>
        </div>
      </div> -->
       <!-- <div class="content" id="email">
        <form class="go-right">
      <div>
          <input type="email" name="email" value="" id="email-address" placeholder="Email Address" data-trigger="change" data-validation-minlength="1" data-type="email" data-required="true" data-error-message="Enter a valid email address."/><label for="email">Email Address</label>
          </div>
          <button class="login">Login</button>
          <button class="create">Create Account</button>
        </form>
        <!-- <a class="continue" href="#">Continue</a>  
      </div> --> 
      <div class="step" id="step2">
        <div class="number">
          <span>1</span>
        </div>
        <div class="title">
          <h1>Billing Information</h1>
        </div>
      </div>
      <div class="content" id="address">
        <form class="go-right">
          <div>
          <input type="name" name="first_name" value="" id="first_name" placeholder="First Name" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name"/><label for="first_name">First Name</label>
                  </div>
          <div>
          <input type="name" name="last_name" value="" id="last_name" placeholder="Last Name" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your Last Name"/><label for="last_name">Last Name</label>
          </div>
                  <div>
                  <input type="email" name="email" value="" id="email-address" placeholder="Email Address" data-trigger="change" data-validation-minlength="1" data-type="email" data-required="true" data-error-message="Enter a valid email address."/><label for="email">Email Address</label>
                  </div>
          <div>
          <input type="phone" name="telephone" value="" id="telephone" placeholder="Phone Number (+91)" data-trigger="change" data-validation-minlength="1" data-type="number" data-required="true" data-error-message="Enter Your Telephone Number"/><label for="telephone">Telephone</label>
          </div>
          <div>
          <input type="text" name="address" value="" id="address" placeholder="Complete Address" data-trigger="change" data-validation-minlength="1" data-type="text" data-required="true" data-error-message="Enter Your Billing Address"/><label for="Address">Address</label>
          </div>
          <div>
          <div class="state_options">
                <div class="select">
                       <select id="state">
                           <option value = "1">Aligarh</option>
                           <option value = "2">Agra</option>
        
                       </select>
                     </div>
                    <label class="state" for="state">State</label>
                </div>
          </div>
          <div>
          <input type="text" name="zip" value="" id="zip" placeholder="Zip Code" data-trigger="change" data-validation-minlength="1" data-type="text" data-required="true" data-error-message="Enter Your Billing Zip Code"/><label for="zip">Zip Code</label>
          </div>
          <div>
          <div class="country_options">
                <div class="select">
                       <select id="country">
                           <option value = "1">India</option>
                    
                       </select>
                     </div>
                  <label class="country" for="country">Country</label>
                </div>
          </div>
          <div>
          <input type="checkbox"/>
          <label class="same" for="same_as_shipping">Same As Shipping Address</label><span></span>
          </div>
        </form>
        <a class="continue" href="#">Submit</a>
      </div>
    </div>
    <div class="column column2">
      <div class="step" id="step3">
        <div class="number">
          <span>2</span>
        </div>
        <div class="title">
          <h1>Shipping Time Slot</h1>
        </div>
        <div class="modify">
          <i class="fa fa-plus-circle"></i>
        </div>
      </div>
      <div class="content" id="shipping">
        <form action="" method="" >
          
            <input type="radio" id="shipping_1" value="1" name="slot"><label for="shipping_1"> 12-3 PM (TODAY) <span class="checkmark"></span></label> <br><br>
          
            
            <input type="radio" id="shipping_2" value="2" name="slot"><label for="shipping_2"> 6-9 PM (TODAY)<span class="checkmark"></span></label><br><br>
          
            
            <input type="radio" id="shipping_3" value="3" name="slot"><label for="shipping_3"> 12-3 PM (TOMMOROW)<span class="checkmark"></span></label><br><br>
          
            
            <input type="radio" id="shipping_4" value="4" name="slot"><label for="shipping_4"> 6-9 PM (TOMMOROW)<span class="checkmark"></span></label><br><br>
          
        </form>
        <!-- <a class="continue" href="#">Continue</a> -->
      </div>
      <div class="step" id="step4">
        <div class="number">
          <span>3</span>
        </div>
        <div class="title">
          <h1>Payment Information</h1>
        </div>
        <div class="modify">
          <i class="fa fa-plus-circle"></i>
        </div>
      </div>
      
      <!----payments---->
      
    <div class="content" id="shipping">
      <div class="left">
           <form>
              <input type="radio" id="mode1" value="1" name="slot"><label for="mode1"> Cash On Delivery <span class="checkmark"></span></label><br><br>
          
            
          <input type="radio" id="mode2" value="2" name="slot"><label for="mode2"> Paytm On Doorstep <span class="checkmark"></span></label><br><br>
          
         </form>
        </div>
            <!-- <a class="continue" href="#">Continue</a> -->
     </div>
      
     </div>
     <div class="column column3">
       <div class="step" id="step5">
        <div class="number">
          <span>4</span>
        </div>
        <div class="title">
          <h1>Finalize Order</h1>
        </div>
        <div class="modify">
          <i class="fa fa-plus-circle"></i>
        </div>
      </div>
      <div class="content" id="final_products">
        <div class="left" id="ordered">
          <div class="products">
            <div class="product_image">
              <img src="img/lady.jpg"/>
            </div>
            <div class="product_details">
              <span class="product_name">Cherry Bikini</span>
              <span class="quantity">1</span>
              <span class="price">$45.00</span>
            </div>
          </div>
          <div class="totals">
            <span class="subtitle">Subtotal <span id="sub_price">$45.00</span></span>
            <span class="subtitle">Tax <span id="sub_tax">$2.00</span></span>
            <span class="subtitle">Shipping <span id="sub_ship">$4.00</span></span>
          </div>
          <div class="final">
            <span class="title">Total <span id="calculated_total">$51.00</span></span>
          </div>
        </div>	
        <div class="right" id="reviewed">
          
          <div id="complete">
          <a class="big_button" id="complete" href="#">Complete Order</a>
          <span class="sub">By selecting this button you agree to the purchase and subsequent payment for this order.</span> 
        </div>
      </div>
    </div>
  </div>