<div style="padding: 2em 0 5em 0;">
    <div class="row" >
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-sm-4 col-xs-4"></div>
            <div class="col-md-2 col-sm-4 col-xs-4"><img class="img-responsive" src="http://icons-for-free.com/free-icons/png/512/1398912.png" alt=""></div>
          </div>
          <div class="row" style="text-align: center; font-size: 2.5em">
            <span >Your Order has been Confirmed.</span>
          </div>
          <div class="row" style="text-align: center; font-size: 2.5em">
            <span >Order No: #{{orderDetails['order_special_id'] }}</span>
          </div>
            <div class="row" style="text-align: center; margin-top: 3em;color:white;"><button style="background-color: #fe9126;" class="btn">Continue Shopping</button></div>
        </div>
      </div>
</div>