.input-group-addon{
  border: none;
  color: white;
  background-color: #fe9126;
}
.input-group{
  border: 2px solid #fe9126;
  border-radius: 6px;
}
input[type="number"]:focus, .uneditable-input:focus{
  border: none;
}
.row{
  margin: 0;
}
/* style the container */
.back {
    position: relative;
    border-radius: 5px;
    
    padding: 0 0 10px 0;
  } 
  
  /* style inputs and link buttons */
  .input_border{
      
    border: 2px solid #ffcc80;
  }
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  

  /* Two-column layout */
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  

  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }
  .modal-content{
      
  }
  .help-block{
      margin: 0;
  }
  .error{
    color: red;
    font-size: 12px;
  }
  .disabled{
    background-color: #bdbdbd;
  }
