<div class="agileits_header">
  <div class="container">
    <div class="w3l_offers">
      <p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a href="products.html">SHOP NOW</a></p>
    </div>
    <div class="agile-login">
      <ul>
        <li><a href="registered.html"> Create Account </a></li>
        <li><a data-toggle="modal" data-target="#myModal" >Login</a></li>
        <li><a href="contact.html">Help</a></li>
        
      </ul>
    </div>
    <div class="product_list_header">  
        <form action="#" method="post" class="last"> 
          <input type="hidden" name="cmd" value="_cart">
          <input type="hidden" name="display" value="1">
          <a routerLink="/cart"><button class="w3view-cart"  value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button></a></form>  
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="border: none">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <!-- <div id="login">
          <div class="back">
            <div class="row">
              <h2 style="text-align:center" style="font-size: 34px;margin-bottom: 20px; text-align: center;margin-top: 0">LOGIN</h2>
              <div class="vl">
                <span class="vl-innertext">or</span>
              </div>
        
              <div class="col">
                <a href="#" class="fb btn">
                  <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                 </a>
                <a href="#" class="twitter btn">
                  <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                </a>
                <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                  </i> Login with Google+
                </a>
              </div>
        
              <div class="col">
                <div class="hide-md-lg">
                  <p>Or sign in manually:</p>
                </div>
        
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
              </div>
              
            </div>
          
        </div>
        
        <div class="bottom-container">
          <div class="row">
            <div class="col">
              <a href="#" style="color:white" class="btn">Sign up</a>
            </div>
            <div class="col">
              <a href="#" style="color:white" class="btn">Forgot password?</a>
            </div>
          </div>
        </div>
        </div> -->
        <div id="signup">
          <div class="back">
            <div class="row">
              <h2 style="text-align:center" style="font-size: 34px;margin-bottom: 20px; text-align: center;margin-top: 0">SIGNUP</h2>
              
        
              <div class="col" style="    padding: 0px 0 0 18px;">
                <input type="text" name="username" placeholder="Name" required>
                <input type="password" name="password" placeholder="Email" required>
                <input type="text" name="username" placeholder="Mobile" required>
              </div>
        
              <div class="col" style="padding: 0px 18px 0 18px;">
                
        
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="password" placeholder="Confirm Password" required>
                
              </div>
              
            </div>
          
        </div>
        
        <div class="bottom-container">
          <div class="row">
            <div>
              <a href="#" style="color:white" class="btn">Sign up</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
</div>