<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6" *ngIf="orders.length > 0">
      <table class="table table-hover" >
          <thead>
            <tr>
              <th>Order/Status</th>
              <th>Items</th>
              <th>Date</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>GRC-{{order?.order_special_id}}<br>{{order?.status}}</td>
              <td>{{order?.items.length}} items</td>
              <td>{{order?.order_date}}</td>
              <td>{{order?.total_price}}</td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="col-md-6" *ngIf="orders.length === 0 && fetchingOrders === false">You have not placed any orders yet.</div>

</div>