<div class="row">
  <div class="col-md-6">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Order/Status</th>
              <th>Items</th>
              <th>Date</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>GRC-1008<br>Completed</td>
              <td>2 items</td>
              <td>13 Jun, 2018</td>
              <td>940.00</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>